EXPO_PUBLIC_SUPABASE_URL=https://dctmpfrbkgntiuhjbblu.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_smbzmV4zLERM3hY8RLL54w_wpVY8Bjp
EXPO_PUBLIC_SUPABASE_EXERCISES_TABLE=fitarc_exercises
EXPO_PUBLIC_SUPABASE_EXERCISE_MUSCLES_TABLE=fitarc_exercise_muscle_groups
EXPO_PUBLIC_SUPABASE_MUSCLE_GROUPS_TABLE=fitarc_muscle_groups
